.profile-header {
  background-color: white;
  margin-bottom: 15px;
}

.profile-header h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #313030;
}

.app article.profile {
  display: grid;
  grid-template-columns: 70% 30%;
  border-radius: 50px;
  background-color: #6b6868;
  align-items: center;
}

.app article.profile div.profile-container {
  display: flex;
  align-items: center;
  padding: 15px;
  max-width: 350px;
}

aside {
  padding: 10px;
}
div.profile-img {
  border-radius: 50px;
  display: inline-block;
  max-width: 150px;
}
.profile-img img {
  max-width: 80%;
  border-radius: 10px;
  
}

div.profile-info {
  max-width: 100%;
}

.profile-info h2 {
  color: #313030;
}
.profile-info p > span {
  font-weight: bold;
  color: greenyellow;
}

.profile-info p {
  color: white;
}

/*AREA DE BOTONES*/
button {
  width: 120px;
  height: 35px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  align-content: center;
  background-color: rgb(170, 163, 152);
  padding: 7px;
  color: white;
  font-weight: bold;
  transition: .3s ease background-color;
}

.claseButton-text {
  display: block;
}
.claseButton-stopFollowing {
  display: none;
}

.profileButton.is-following:hover {
  background-color: rgb(163, 190, 141);
  color: white;
 
}
.profileButton.is-following:hover .claseButton-stopFollowing{
  display: block;
  font-size: 0.8rem;
 
}

.profileButton.is-following:hover .claseButton-text {
  display: none;
 
}

footer {
  display: flex;
  align-items: center;
  grid-area: 3 / 1 / 3 / span 2;
}
.footer-container {
  display: flex;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
 
}

.footer-container p {
  font-size: 1.3rem;
  font-weight: bold;
}






